.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    text-align: center;
    height: 400px; /* Aumentei para ajustar o conteúdo centralizado */
    background-image: url('../assets/img/banner.png'); /* Adiciona a imagem de fundo */
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}


.banner-buttons {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    z-index: 2;
}

.banner-buttons button {
    margin: 5px;
}


.banner-right {
    flex-shrink: 0;
    max-width: 30%; /* Ajuste conforme necessário */
    display: flex;
    justify-content: flex-end;
}

.sponsor-logo {
    max-height: 120px;
    height: auto;
    width: auto;
}

.banner-logo {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-25%) translateX(-70%);
    z-index: 3; /* Garantir que o logotipo esteja na frente */
}

.banner::before {
    content: "";
    background-image: url('../assets/img/banner.png'); /* Substitua com a URL da imagem de fundo */
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Transparência da imagem de fundo */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.banner-container {
    position: relative;
    color: white;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-content {
    position: relative;
    z-index: 1; /* Garantir que o texto e os botões estejam na frente */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.banner-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.banner-buttons .btn {
    padding: 10px 30px;
}
