.app-container {
  padding-bottom: 50px; /* Para evitar que o conteúdo toque no final da página */
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Texto branco para contraste */
}

.App {
  text-align: center;
}

table {
  margin-top: 20px;
}
